# Node modules
node_modules/

# Bundler cache
.metro-cache/
.cache/
.bundle/

# Build output
android/.gradle/
android/build/
android/app/.cxx/
ios/Pods/
ios/DerivedData/
build/
*.apk
*.aab
*.ipa
*.jsbundle

# Test-related
__tests__/
coverage/
jest/

# IDEs and editors
.idea/
.vscode/
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# macOS system files
.DS_Store

# Misc
*.swp
*.lock

# Environment files (if any)
.env
.env.*
